@model IEnumerable<StoreHouse.Models.Export>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.quantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.sale_price)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sale_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Partner.PartnerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.name)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.ExportID">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.ExportID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ExportID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
