@model IEnumerable<StoreHouse.Models.Export>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table display" id="tbl_export">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sale_price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Partner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
       
        
    </tbody>
</table>
@section styles {
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/DataTables/css/dataTables.bootstrap.css" />
}

@section Scripts {
    <script src="~/lib/DataTables/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables/js/dataTables.bootstrap.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#tbl_export").DataTable({
                serverSide: true,
                ajax: {
                    url: "@Url.Action("Post","Export")",
                    type : "POST"
                },
                columns: [
                    {
                        data:  "date",
                            title: "@Html.DisplayNameFor(model=>model.date)"

                    },
                    {
                            data: "quantity",
                            title: "@Html.DisplayNameFor(model=>model.quantity)"

                    },
                     {
                            data: "sale_price",
                            title: "@Html.DisplayNameFor(model => model.sale_price)"

                    },
                    {
                            data: "Product.name",
                            title: "@Html.DisplayNameFor(model=>model.Product.name)"

                    }@*,
                    {
                            data: "ProductID",
                            title: "@Html.DisplayNameFor(model => model.Product.name)"

                    }*@
                    
                    
                ]


            });
        });

    </script>

}

